/*
 * For borders, margins, paddings, etc
 */


.mainPanel-userPanelMargin{
  margin: 4%;
}

.mainPanel-listPadding{
  padding: 30px 0;
}

.mainPanel-headerListPadding{
  padding: 0 30px;
}

.mainPanel-listMargin{
  margin: 10px;
}

.mainPanel-listMarginSide{
  margin: 0px 10px;
}



.mainPanel-qrPadding{
  padding: 20px;
}