/*
 * For borders, margins, paddings, etc
 */


.mainPanel-userPanelMargin{
  margin: 4%;
}

.mainPanel-listMargin{
  margin: 10px;
}

.mainPanel-listMarginSide{
  margin: 0px 10px;
}



.mainPanel-qrPadding{
  padding: 20px;
}