.login-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 500px){
  .login-topPaperPosition{
    top: 20%;
  }
}

@media only screen and (max-width: 500px){
  .login-topPaperPosition{
    top: 10%;
  }
}


@media only screen and (min-width: 1000px){
  .login-paperSize{
    width: 22%;
  }

  .login-columnSize{
    width: 20%;
  }
}


.login-absolutePosition{
  position: absolute;
}